<app-section-controls
    [(color)]="content.class"
    [(isEdited)]="isEdited"
    (delete)="delete.emit($event)"
    (move)="move.emit($event)"
    (save)="contentChange.emit(content)"
></app-section-controls>
<div class="text">
    <p *ngIf="!isEdited">{{ content.content }}</p>
    <textarea *ngIf="isEdited" [(ngModel)]="content.content" [style.height]="ta.scrollHeight + 'px'" #ta></textarea>
</div>
