@import '../../../../../shared/scss/colours';
@import '../../../../../shared/scss/common-classes';

:host {
    background-color: $light-grey;
    color: $web-black;
    display: grid;
    grid-row-gap: 1.4vw;
    overflow: hidden;
    padding: 1.4vw;
    transition: all 1s;

    textarea {
        border: none;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        padding-bottom: 0;
        padding-top: 0;
        width: 100%;
    }
}
