<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 61.41 61.41">
    <title>logo-small</title>
    <line x1="0.71" y1="0.71" x2="60.71" y2="60.71"/>
    <line x1="60.71" y1="0.71" x2="0.71" y2="60.71"/>
    <rect class="a" x="28.9" y="-10.91" width="3.62" height="83.23" transform="translate(-12.72 30.71) rotate(-45)"/>
    <rect class="a" x="-10.91" y="28.9" width="83.23" height="3.62" transform="translate(-12.72 30.7) rotate(-45)"/>
</svg>
