@import '../../../shared/scss/mixins';

svg {
    height: 3.125vw;
}

line {
    fill: none;
    stroke: #191919;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

@include non-mobile {
    rect {
        display: none;
    }
}

@include mobile {
    :host {
        padding: 4.6875vw;
    }

    svg {
        height: 5.3vw;
        width: 5.3vw;
    }

    line {
        display: none;
    }
}
