@import '../../../../../shared/scss/colours';
@import '../../../../../shared/scss/common-classes';

:host {
    background-color: $light-grey;
    color: $web-black;
    display: grid;
    grid-row-gap: 1.4vw;
    overflow: hidden;
    padding: 1.4vw;
    transition: all 1s;

    .title {
        font-size: 1.4vw;
        font-weight: 400;
        height: 2.8vw;

        input {
            border: none;
            box-sizing: border-box;
            font-size: inherit;
            font-family: inherit;
            font-weight: inherit;
            height: 2.8vw;
            padding: 0.2vw;
            width: 42%;
        }
    }

    .list-item {
        display: grid;
        grid-column-gap: 1.4vw;
        grid-template-columns: auto min-content min-content min-content;
    }

    textarea {
        border: none;
        box-sizing: border-box;
        font-size: inherit;
        font-family: inherit;
        font-weight: inherit;
        padding-bottom: 0;
        padding-top: 0;
        width: 100%;
    }

    .list-icon {
        align-self: center;
        height: 1.4vw;
        cursor: pointer;
        width: 1.4vw;
    }

    .new-item-icon {
        height: 2.8vw;
    }
}
