<app-section-controls
    [(color)]="content.class"
    [(isEdited)]="isEdited"
    (delete)="delete.emit($event)"
    (move)="move.emit($event)"
    (save)="save()"
></app-section-controls>
<div class="title">
    <p *ngIf="!isEdited">{{ content.title }}</p>
    <input *ngIf="isEdited" [(ngModel)]="content.title">
</div>
<div *ngFor="let item of content.content; index as i" class="list-item">
    <p *ngIf="!isEdited">{{ item }}</p>
    <textarea *ngIf="isEdited" [(ngModel)]="item" (ngModelChange)="cache(i, item)" [style.height]="ta.scrollHeight + 'px'" #ta></textarea>
    <img *ngIf="isEdited" (click)="swap(i - 1, i)" class="list-icon" src="/assets/arrow-up-circle.svg" alt="up">
    <img *ngIf="isEdited" (click)="swap(i, i + 1)" class="list-icon" src="/assets/arrow-down-circle.svg" alt="down">
    <img *ngIf="isEdited" (click)="deleteItem(i)" class="list-icon" src="/assets/x-black-circle.svg" alt="down">
</div>
<img *ngIf="isEdited" (click)="newItem()" class="new-item-icon" src="/assets/plus-black-circle.svg" alt="new">
