@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/common-classes';
@import '../../../../shared/scss/mixins';

:host {
    color: $white;
    display: block;
    background-color: $blue;
    background-image: url("/assets/landing/portfolio-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 8.333vw;
    grid-template-columns: 16.666vw auto;
    grid-template-rows: min-content min-content min-content min-content;
    font-size: 1.25vw;
    height: 10vw;
    padding: 0 5vw 8.9vw 17.12vw;
}

li {
    line-height: 2.396vw;
}

@include mobile {
    :host {
        background-image: url("/assets/landing/portfolio-bg-mobile.svg");
        display: grid;
        font-weight: 400;
        grid-template-rows: min-content auto min-content;
        height: 101.25vw;
        padding: 4.6875vw;
    }

    h2 {
        font-weight: 400;
    }

    ul {
        font-size: 3.75vw;
        grid-auto-flow: unset;
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        height: unset;
        padding: 0 0 4.6875vw 17.541vw;
    }

    li {
        line-height: 7.1875vw;
    }
}
