<app-summary-header buttonColourClass="black-button" link="portfolio" logo="/assets/landing/logos/portfolio.svg">
    <h2>Szolgáltatás portfólió</h2>
</app-summary-header>
<ul>
    <li>• Projektmenedzsment</li>
    <li>• Minőségbiztosítás</li>
    <li>• Folyamatmenedzsment</li>
    <li>• Pályázatmenedzsment</li>
    <li>• IT fejlesztések tervezése / fejlesztés támogatás / bevezetés</li>
    <li>• Igazgatásszervezés</li>
    <li>• Szervezetfejlesztés</li>
</ul>
<div class="summary-button-mobile">
    <app-next-button link="portfolio" colourClass="black-button"></app-next-button>
</div>
