<app-slider-header></app-slider-header>
<div class="content" (click)="handleClick('right')">
    <div *ngFor="let slide of slides" class="slide" [style.transform]="'translateX(' + getTranslate() + '%)'">{{ slide }}</div>
</div>
<p class="page">{{ (index % slideCount) + 1 }}/{{ slideCount }}</p>
<app-slider-buttons (direction)="handleClick($event)"></app-slider-buttons>
