@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/mixins';

:host {
    background-color: $web-black;
    background-image: url('/assets/philosophy/slider-background.svg');
    background-position: right;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: min-content auto min-content min-content;
    overflow: hidden;
    width: 85.416vw;
}

.content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(1000, 100%);
    height: min-content;
    transition: all 1s;
}

.slide {
    box-sizing: border-box;
    color: $white;
    font-size: 1.354vw;
    font-weight: 400;
    line-height: 2.1875vw;
    padding: 0 4.27vw 4.27vw 12.7075vw;
    transition: all 1s;
    width: 85.416vw;
}

.page {
    color: $green;
    font-size: 1.04vw;
    justify-self: right;
    padding: 4.27vw 9.37vw 0 0;
}

@include non-mobile {
    :host {
        grid-template-columns: 7fr 1fr;
    }

    .content {
        grid-column: 1 / 3;
    }

    .page {
        grid-column: 2;
        grid-row: 1;
    }
}

@include mobile {
    :host {
        background-image: none;
        box-sizing: border-box;
        grid-template-columns: 100vw;
        grid-template-rows: min-content auto 6.5625vw 12.8125vw;
        height: min-content;
        width: 100vw;
    }

    .slide {
        font-size: 3.125vw;
        height: min-content;
        line-height: 5vw;
        padding: 4.6875vw;
        width: 100vw;
    }

    .page {
        align-self: start;
        font-size: 3.125vw;
        padding: 0 4.6875vw 0 0;
    }
}
