@import '../../../shared/scss/colours';
@import '../../../shared/scss/common-classes';
@import '../../../shared/scss/mixins';

:host > :nth-child(2) {
    margin-top: 8.70625vw;
}

.wrap {
    display: grid;
    grid-template-columns: auto;
    grid-row-gap: 1.4vw;
    padding: 1.4vw;
    font-size: 1.04vw;
    line-height: normal;

    .new-button {
        justify-self: right;
    }
}

@include mobile {
    :host > :nth-child(2) {
        margin-top: 27.6vw;
    }
}
