<app-admin-menu></app-admin-menu>
<div class="wrap">
    <app-generic-button (click)="newPosition()" colourClass="blue-button" class="new-button">New Position</app-generic-button>
    <app-position-editor
        *ngFor="let position of positions; index as i"
        [position]="position"
        (delete)="deletePosition(position)"
        (move)="movePosition($event, i)"
        (save)="savePosition(position, $event)"
    ></app-position-editor>
</div>
