<app-admin-menu></app-admin-menu>
<app-generic-button colourClass="blue-button" (click)="newSlide()" class="new-button">New Slide</app-generic-button>
<div *ngFor="let slide of slides; index as i" class="slide">
    <div *ngIf="!slide.edit" class="text">{{ slide.text }}</div>
    <textarea [style.height]="ta.scrollHeight + 'px'" *ngIf="slide.edit" [(ngModel)]="slide.text" class="text" #ta></textarea>
    <div class="buttons">
        <app-generic-button colourClass="red-button" (click)="delete(slide)">Delete</app-generic-button>
        <app-generic-button colourClass="blue-button" (click)="swap(i - 1, i)">Up</app-generic-button>
        <app-generic-button colourClass="blue-button" (click)="swap(i, i + 1)">Down</app-generic-button>
        <app-generic-button *ngIf="!slide.edit" colourClass="blue-button" (click)="slide.edit = true">Edit</app-generic-button>
        <app-generic-button *ngIf="slide.edit" colourClass="green-button" (click)="slide.edit = false; save(slide)">Save</app-generic-button>
    </div>
</div>
