@import '../../../shared/scss/colours';
@import '../../../shared/scss/common-classes';
@import '../../../shared/scss/mixins';

:host > :nth-child(2) {
    margin-top: 8.70625vw;
}

.new-button {
    margin-left: 66%;
}

.slide {
    background-color: $light-grey;
    display: grid;
    font-size: 1.04vw;
    grid-row-gap: 1.40625vw;
    margin: 1.40625vw auto;
    padding: 1.40625vw;
    width: 50vw;
}

.text {
    line-height: normal;
    word-break: break-word;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

textarea {
    border: none;
    font-family: inherit;
    font-size: 1.04vw;
    font-weight: 300;
    line-height: normal;
    padding-top: 0;
    padding-bottom: 0;
    resize: vertical;
}

@include mobile {
    :host > :nth-child(2) {
        margin-top: 27.6vw;
    }

    .new-button {
        margin-left: 68%;
    }

    .slide {
        font-size: 3.75vw;
        grid-row-gap: 4.6875vw;
        margin: 4.6875vw;
        padding: 4.6875vw;
        width: unset;
    }

    .buttons {
        grid-gap: 4.6875vw;
        grid-template-columns: min-content min-content;
        justify-content: space-between;
    }

    .buttons > :nth-child(3) {
        grid-column: 2;
        grid-row: 2;
    }

    textarea {
        font-size: 3.75vw;
    }
}
