@import '../../scss/mixins';

svg {
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    height: 3.646vw;
    width: 3.646vw;

    .a {
        fill: #0c6;
    }

    .b {
        fill: none;
        transition: all 1s;
        stroke: #fff;
        stroke-miterlimit: 10;
        stroke-width: 2px;
    }

    polyline {
        transition: all 1s;
    }
}

svg:hover {
    padding: 0.18vw;
}

@include mobile {
    svg {
        height: 9.0625vw;
        width: 9.0625vw;
    }

    svg:hover {
        padding: 0.44vw;
    }
}
