<svg id="switch" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" (click)="open ? switch(close1, close2) : switch(open1, open2)">
    <title>switch</title>
    <circle class="a" cx="35" cy="35" r="35"/>
    <polyline class="b" points="15 27.08 35.7 47.62">
        <animate #open1 begin="indefinite" fill="freeze" attributeName="points" dur="250ms" to="15 15.17 55 54.83" />
        <animate #close1 begin="indefinite" fill="freeze" attributeName="points" dur="250ms" to="15 27.08 35.7 47.62" />
    </polyline>
    <polyline class="b" points="34.3 47.62 55 27.08">
        <animate #open2 begin="indefinite" fill="freeze" attributeName="points" dur="250ms" to="15 54.83 55 15.17" />
        <animate #close2 begin="indefinite" fill="freeze" attributeName="points" dur="250ms" to="34.3 47.62 55 27.08" />
    </polyline>
</svg>
