@import '../../../shared/scss/colours';
@import '../../../shared/scss/mixins';

p {
    color: $black;
    font-size: 3.8541666666667vw;
    position: absolute;
    right: 3.646vw;
    top: 32vw;
    width: 18.3vw;
}

img {
    background-color: $web-black;
    color: $black;
    width: 92.7vw;
}

@include mobile {
    img {
        width: 100vw;
    }
}
