@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/mixins';

:host {
    color: $dark-grey;
    display: grid;
    font-size: 1.354vw;
    line-height: 2.1875vw;
    padding-top: 4.27vw;
    width: 100%;
}

:host:nth-child(8) {
    app-philosophy-tile-separator {
        display: none;
    }
}

.tile-main {
    display: grid;
    justify-content: space-between;
    grid-template-columns: 27.6% 65%;
}

img {
    border-radius: 50%;
    border-color: $blue;
    width: 100%;
}

.content {
    font-weight: 600;
    height: 14.6875vw;
}

.title {
    color: $green;
    font-weight: 600;
    text-transform: uppercase;
}

@include non-mobile {
    :host:nth-child(3), :host:nth-child(4), :host:nth-child(7) {

        app-philosophy-tile-separator {
            display: none;
        }
    }
}

@include mobile {
    :host {
        font-size: 3.125vw;
        line-height: 5vw;
        padding-top: 0;
    }

    .tile-main {
        padding: 7.8125vw 0;
    }

    .content {
        height: unset;
    }
}
