<div class="tile-main">
    <img [src]="'assets/philosophy/tiles/' + image" [alt]="title">
    <div class="content">
        <div class="title">{{ title }}:</div>
        <ng-content></ng-content>
    </div>
</div>
<app-philosophy-tile-separator></app-philosophy-tile-separator>
