<app-subpage-top logo="career.svg">
    <div>
        <span class="top-number">⁵ ―</span><span class="top-title"> Karrier</span>
    </div>
</app-subpage-top>
<div class="outer-wrap">
    <div class="inner-wrap">
        <app-job *ngFor="let position of positions" [position]="position"></app-job>
    </div>
    <div class="arrow-wrap">
        <app-up-arrow></app-up-arrow>
    </div>
</div>
