@import '../../../shared/scss/colours';
@import '../../../shared/scss/common-classes';
@import '../../../shared/scss/mixins';

:host {
    height: min-content;
    margin-top: 4.17vw;
}

.outer-wrap {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('/assets/fill/career-outer-wrap.svg');
    background: linear-gradient(transparent 0 17.08vw, $white 17.08vw 100%);
    display: grid;
    grid-template-columns: auto 7.3vw;
    min-height: calc(100vh - 17.08vw - 7.3vw);
    padding-left: 12.8125vw;

    .inner-wrap {
        display: grid;
        grid-row-gap: 3.646vw;
        grid-template-columns: auto;
        padding-bottom: 10.9375vw;
    }

    .arrow-wrap {
        position: relative;
    }
}

@include mobile {
    :host {
        margin-top: 15.625vw;
    }

    .outer-wrap {
        grid-template-columns: auto;
        grid-template-rows: auto min-content;
        min-height: calc(100vh - 70vw);
        padding-left: 0;

        .inner-wrap {
            grid-row-gap: 9.375vw;
            padding-bottom: 4.6875vw;
        }

        .arrow-wrap {
            position: unset;
        }
    }
}
