@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/mixins';

:host {
    display: grid;
    background-color: $white;
    grid-template-columns: auto;
    grid-template-rows: 12.8125vw 4.27vw;
    justify-content: center;
    width: 21.25vw;
}

img {
    align-self: center;
    background-color: $light-grey;
    border-radius: 50%;
    height: 10.4vw;
    justify-self: center;
    width: 10.4vw;
}

.tile-text {
    box-sizing: border-box;
    color: $dark-grey;
    background-color: $light-grey;
    font-size: 1.04vw;
    height: 4.27vw;
    padding-top: 1.04vw;
    text-align: center;
    text-transform: uppercase;
    width: inherit;
}

@include mobile {
    :host {
        grid-template-rows: 27.1875vw 9.0625vw;
        justify-content: unset;
        width: unset;
    }

    img {
        height: 22.1875vw;
        width: 22.1875vw;
    }

    .tile-text {
        align-self: center;
        font-size: 2.8125vw;
        height: 9.0625vw;
        line-height: 9.0625vw;
        padding: 0;
    }
}
