<div *ngIf="input" [class]="input.class">
  <p *ngIf="input" class="title">― {{ input.title }}</p>
  <div *ngIf="input" class="content">
    <div *ngFor="let listItem of input.content" class="listItem">
      {{ listItem }}
    </div>
  </div>
</div>
