@import '../../../../../shared/scss/mixins';
@import '../../../../../shared/scss/schemes';

:host {
    display: block;
    font-size: 1.354vw;
    font-weight: 400;
    line-height: 2.1875vw;
    overflow: hidden;
    padding: 4.27vw;
    transition: all 1s;
}

.content {
    padding-left: 12.8125vw;
}

@include mobile {
    :host {
        padding: 9.375vw 4.6875vw;
    }

    .content {
        padding-left: 0;
    }
}
