@import '../../../../shared/scss/mixins';

:host {
    display: inline-block;
    height: 6.25vw;
}

img {
    height: 6.25vw;
}

@include mobile {
    :host {
        height: 13.125vw;
    }

    img {
        height: 13.125vw;
    }
}
