@import '../../../../../shared/scss/colours';
@import '../../../../../shared/scss/mixins';

:host {
    color: $green;
    display: grid;
    grid-column-gap: 4.27vw;
    grid-template-columns: min-content auto;
    padding: 4.27vw 0 2.1875vw 2.1875vw;
}

img {
    background-color: $green;
    border-radius: 50%;
    height: 6.26vw;
    width: 6.25vw;
}

h2 {
    font-size: 2.5vw;
}

@include mobile {
    :host {
        grid-column-gap: 4.6875vw;
        padding: 4.6875vw 4.6875vw 0 4.6875vw;
    }

    img {
        height: 13.125vw;
        width: 13.125vw;
    }

    h2 {
        font-size: 5.3125vw;
    }
}
