@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/mixins';

:host {
    display: grid;
    grid-column-gap: 2.5vw;
    grid-template-columns: 10.4vw 25.625vw;
}

.line {
    background-color: $grey;
    height: 2px;
    width: 100%;
}

@include mobile {
    :host {
        justify-content: space-between;
        grid-column-gap: unset;
        grid-template-columns: 27.6% 65%;
    }
}
