@import '../../../../../shared/scss/mixins';

:host {
    display: block;
    font-size: 1.354vw;
    font-weight: 400;
    line-height: 2.1875vw;
    overflow: hidden;
    padding: 4.27vw 21.25vw 4.27vw 4.27vw;
    transition: all 1s;
}

@include mobile {
    :host {
        font-size: 3.75vw;
        line-height: 7.1875vw;
        padding: 9.375vw 4.6875vw;
    }
}
