@import '../../../../../shared/scss/mixins';
@import '../../../../../shared/scss/schemes';

:host {
    display: block;
    font-size: 1.354vw;
    font-weight: 400;
    line-height: 2.1875vw;
    overflow: hidden;
    padding: 4.27vw 12.1875vw 4.27vw 4.27vw;
    transition: all 1s;
}

.content {
    display: grid;
    grid-row-gap: 1.666vw;
}

.entry {
    display: grid;
    grid-column-gap: 5vw;
    grid-template-columns: 1fr 1fr;
}

@include mobile {
    :host {
        padding: 9.375vw 4.6875vw;
    }

    .content {
        grid-row-gap: 6.5625vw;
    }

    .entry {
        grid-template-columns: auto;
    }
}
