<div *ngIf="input" [class]="input.class">
    <p *ngIf="input" class="title">― {{ input.title }}</p>
    <div *ngIf="input" class="content">
        <div *ngFor="let entry of input.content" class="entry">
            <div class="left">{{ entry.left }}</div>
            <div class="right">
                <div *ngFor="let value of entry.right">
                    <a *ngIf="isEmail(value)" [href]="'mailto:' + value">{{ value }}</a>
                    <div *ngIf="!isEmail(value)">{{ value }}</div>
                </div>
            </div>
        </div>
    </div>
</div>
