@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/mixins';

:host {
    right: 1.8vw;
    position: absolute;
    bottom: 3.646vw;
}

svg {
    cursor: pointer;
    height: 3.646vw;

    .cls-1 {
        fill: $web-black;
    }

    .cls-1:hover {
        fill: $blue;
    }

    .cls-2 {
        fill: none;
        stroke: $white;
        stroke-miterlimit: 10;
        stroke-width: 2px;
    }
}

@include mobile {
    :host {
        display: block;
        float: right;
        padding: 4.6875vw;
        position: unset;
        right: 0;
    }

    svg {
        height: 9.375vw;
    }
}
