<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" (click)="scrollUp()">
    <title>arrow-up</title>
    <circle class="cls-1" cx="35" cy="35" r="35"/>
    <polyline class="cls-2" points="55 41.5 35 21.67 15 41.5"/>
</svg>
