<app-title-editor [title]="position.title" [(open)]="open" (delete)="delete.emit($event)" (move)="move.emit($event)" (save)="save.emit({ title: $event })"></app-title-editor>
<app-add-section (new)="newSection($event)" [class.hidden]="!open"></app-add-section>
<div class="separator-line"></div>
<div *ngFor="let section of position.content; index as i" class="sections" [class.hidden]="!open">
    <app-text-editor
        *ngIf="section.type === 'text'"
        [(content)]="section"
        [class.hidden]="!open"
        [class]="section.class"
        (contentChange)="save.emit({ content: position.content })"
        (delete)="deleteSection(i)"
        (move)="moveSection($event, i)"
    ></app-text-editor>
    <app-list-editor
        *ngIf="section.type === 'list'"
        [(content)]="section"
        [class.hidden]="!open"
        [class]="section.class"
        (contentChange)="section = $event; save.emit({ content: position.content })"
        (delete)="deleteSection(i)"
        (move)="moveSection($event, i)"
    ></app-list-editor>
    <app-map-editor
        *ngIf="section.type === 'map'"
        [(content)]="section"
        [class.hidden]="!open"
        [class]="section.class"
        (contentChange)="section = $event; save.emit({ content: position.content })"
        (delete)="deleteSection(i)"
        (move)="moveSection($event, i)"
    ></app-map-editor>
    <div class="separator-line"></div>
</div>
