@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/schemes';

.hidden {
    height: 0;
    padding: 0;
}

.separator-line {
    background-color: $white;
    height: 2px;
    width: 100%;
}

.sections {
    overflow: hidden;
    transition: all 1s;
}
