@import './colours';
@import './mixins';

.top-title {
    color: $blue;
}

.right-pad {
    padding-right: 7.3vw;
}

.right-margin {
    margin-right: 7.3vw;
}

.landing-subtitle {
    color: $dark-grey;
    font-size: 1.666vw;
    font-weight: 400;
    padding-left: 4.16vw;
}

.black-button {
    background-color: $black;
}

.black-button:active {
    background-color: $green;
}

.blue-button {
    background-color: $blue;
}

.blue-button:active {
    background-color: $black;
}

.green-button {
    background-color: $green;
}

.green-button:active {
    background-color: $blue;
}

.red-button {
    background-color: #ff3333;
}

.red-button:active {
    background-color: $black;
}

.green-font {
    color: $green;
}

.summary-button-mobile {
    display: none;
}

@include mobile {
    .landing-subtitle {
        align-self: baseline;
        font-size: 3.75vw;
        padding-left: 0;
    }

    .summary-button-mobile {
        display: grid;
        justify-items: right;
        padding-bottom: 4.6875vw;
        padding-top: 4.6875vw;
    }
}
