@import 'colours';
@import 'mixins';

.grey {
    background-color: $grey;
    color: $web-black;

    .title {
        color: $blue;
    }

    .left {
        color: $blue;
    }
}

.light-grey {
    background-color: $light-grey;
    color: $web-black;

    .title {
        color: $blue;
    }

    .left {
        color: $blue;
    }
}

.green {
    background-color: $green;
    color: $web-black;

    .title {
        color: $white;
    }

    .left {
        color: $white;
    }
}

.blue {
    background-color: $blue;
    color: $white;

    .title {
        color: $web-black;
    }

    .left {
        color: $web-black;
    }
}

.title {
    font-size: 1.666vw;
    font-weight: 400;
    padding-bottom: 2.083vw;
}

.content {
    font-size: 1.04vw;
    font-weight: 600;
    line-height: 1.666vw;
}

@include mobile {
    .title {
        font-size: 5vw;
        padding-bottom: 4.6875vw;
    }

    .content {
        font-size: 3.75vw;
        line-height: 7.1875vw;
    }
}
