@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/common-classes';
@import '../../../../shared/scss/mixins';

:host {
    background-color: $light-grey;
}

h2 {
    color: $blue;
    padding-bottom: 1.8vw;
}

.positions {
    height: 10vw;
    overflow: scroll;
    scrollbar-width: none;
}

.positions::-webkit-scrollbar {
    display: none;
}

p {
    cursor: pointer;
    margin-bottom: 1.04vw;
}

@include mobile {
    h2 {
        color: $web-black;
        font-size: 5.3125vw;
        font-weight: 400;
        padding-bottom: 3.6vw;
    }
}
