<app-half-summary buttonColourClass="blue-button" logo="/assets/landing/logos/career.svg" link="career">
    <h2>Karrier</h2>
    <div class="landing-subtitle positions">
        <p *ngFor="let position of positions" routerLink="career">― {{ position }}</p>
    </div>
</app-half-summary>
