@import '../../../shared/scss/colours';
@import '../../../shared/scss/common-classes';
@import '../../../shared/scss/mixins';

:host {
    margin-top: 4.17vw;
}

.outer-wrap {
    background: url('/assets/fill/experience-outer-wrap-01.svg');
    background: linear-gradient(transparent 0% 36.36%, $white 36.36% 100%);
    padding-left: 8.54vw;
    padding-right: 7.3vw;

    .inner-wrap {
        padding-left: 4.27vw;
        background: linear-gradient(transparent 0 90.9%, $light-grey 90.9% 100%);

        .black-box {
            background-color: $web-black;
            box-sizing: border-box;
            color: $white;
            display: grid;
            font-weight: 600;
            height: 8.54vw;
            grid-template-columns: 25.625vw auto;
            padding-top: 4.27vw;
            padding-left: 4.27vw;

            h5 {
                font-size: 1.666vw;
                text-transform: uppercase;
            }

            p {
                font-size: 1.25vw;
            }
        }

        .colour-box {
            background-image: url("/assets/experience/box-background.svg");
            box-sizing: border-box;
            color: $white;
            display: grid;
            grid-column-gap: 4.01vw;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 4.27vw 1fr;
            height: 38.4375vw;
            padding: 8.54vw 4.01vw 4.27vw 4.27vw;

            .pie-line {
                align-self: center;
                background-color: $white;
                height: 0.104vw;
            }
        }
    }
}

.second-half {
    background: url('/assets/fill/experience-second-half.svg');
    background: linear-gradient(to right, $white 0 8.54vw, $light-grey 8.54vw 85.4vw, $white 85.4vw 100%);
    display: grid;
    grid-template-columns: 10.677vw 11.72vw auto 7.3vw;
    grid-template-rows: auto auto;
    padding-left: 3.203125vw;

    .green-line {
        background-color: $green;
        grid-column: 2 / 4;
        height: 2px;
        margin-bottom: 2.135vw;
        margin-left: 2.1355vw;
        margin-top: 4.27vw;
        width: 29.75vw;
    }

    .circle {
        align-content: center;
        background-image: url('/assets/experience/circle.svg');
        color: $blue;
        display: grid;
        font-size: 3.75vw;
        font-weight: 300;
        grid-row: 2;
        grid-template-columns: min-content min-content;
        height: 10.677vw;
        justify-content: center;
        margin-top: 4.27vw;
        width: 10.677vw;
    }

    .text {
        font-size: 1.354vw;
        font-weight: 400;
        grid-column: 3;
        grid-row: 2;
        line-height: 2.1875vw;
        padding-bottom: 10.677vw;
        padding-right: 12.787vw;

        .grey {
            color: $dark-grey;
        }
    }

    .margin {
        grid-column: 4;
        grid-row: 2;
        position: relative;
    }
}

.green {
    color: $green;
}

@include mobile {
    :host {
        margin-top: 15.625vw;
    }

    .outer-wrap {
        padding: 0;

        .inner-wrap {
            padding: 0;

            .black-box {
                grid-template-columns: auto;
                grid-template-rows: 6.5625vw;
                height: 25.625vw;
                margin: 0 4.6875vw;
                padding: 4.6875vw 9.0625vw;

                h5 {
                    font-size: 4.0625vw;
                }

                p {
                    font-size: 3.75vw;
                    font-weight: 400;
                }
            }

            .colour-box {
                background-image: url("/assets/experience/box-background-mobile.svg");
                background-repeat: no-repeat;
                background-size: 100%;
                grid-row-gap: 14.0625vw;
                grid-template-columns: auto;
                grid-template-rows: unset;
                height: unset;
                padding: 25.625vw 4.6875vw;

                .pie-line {
                    display: none;
                }
            }
        }
    }

    .second-half {
        grid-column-gap: 9.0625vw;
        grid-template-columns: min-content auto;
        background: $light-grey;
        padding: 9.375vw 0 0 0;

        .green-line {
            align-self: center;
            grid-column: 2;
            margin: 0 4.6875vw 0 0;
            width: 54.375vw;
        }

        .circle {
            font-size: 9.6875vw;
            grid-column: 1;
            grid-row: 1;
            height: 27.1875vw;
            margin-top: 0;
            margin-left: 4.6875vw;
            width: 27.1875vw;
        }

        .text {
            font-size: 3.75vw;
            font-weight: 600;
            grid-column: 1 / 3;
            grid-row: 2;
            line-height: 7.1875vw;
            margin: 9.375vw 4.6875vw 14.0625vw;
            padding: 0;
        }

        .margin {
            background-color: $white;
            grid-column: 1 / 3;
            grid-row: 3;
        }
    }
}
