<app-subpage-top logo="experience.svg">
    <div>
        <span class="top-number">³ ―</span><span class="top-title"> Tapasztalat</span>
    </div>
</app-subpage-top>
<div class="outer-wrap">
    <div class="inner-wrap">
        <div class="black-box">
            <h5>Cégről</h5>
            <p>― Több mint 10 éve a piacon</p>
        </div>
        <div class="colour-box">
            <app-experience-pie text="Közel 20 év szakértői tapasztalat">
                <span class="green">≈</span>20
            </app-experience-pie>
            <app-experience-pie text="Több mint 5 különböző iparágban szerzett tudás">
                5<span class="green"><</span>
            </app-experience-pie>
            <div class="pie-line"></div>
            <div class="pie-line"></div>
            <app-experience-pie text="Legalább 15 különböző ügyfélnél megvalósított projekt követő megrendeléssel">
                15<span class="green">≤</span>
            </app-experience-pie>
            <app-experience-pie text="Több mint 50 sikeres projekt">
                50<span class="green"><</span>
            </app-experience-pie>
        </div>
    </div>
</div>
<div class="second-half">
    <div class="green-line"></div>
    <div class="circle prlx prlx-1">10<span class="green"><</span></div>
    <div class="text">
        <p class="green">
            Pályázatmenedzsment területen szakértőink szakmai támogatásával több mint 1.000 millió forint
            forrást szereztünk ügyfeleinknek, illetve közel 10.000 millió forint értékű projekt sikeres
            végrehajtásában van szakértői tapasztalatunk.<br/><br/>
        </p>
        <p class="grey">
            A projektek megvalósítása során<br/>
            • Több mint 10 különböző nemzetközi és hazai szabvány, módszertan alkalmazása a különböző
            szolgáltatásokhoz kapcsolódóan<br/>
            • Több mint 10 informatikai rendszer fejlesztésében való részvétel a tervezéstől a
            sikeres bevezetésig
        </p>
    </div>
    <div class="margin">
        <app-up-arrow></app-up-arrow>
    </div>
</div>
