<p *ngIf="!isEdited">{{ title }}</p>
<input *ngIf="isEdited" [(ngModel)]="title">
<app-generic-button (click)="delete.emit(true)" colourClass="red-button">Delete</app-generic-button>
<app-generic-button (click)="move.emit('up')" colourClass="blue-button">Up</app-generic-button>
<app-generic-button (click)="move.emit('down')" colourClass="blue-button">Down</app-generic-button>
<app-generic-button *ngIf="!isEdited" (click)="isEdited = true" colourClass="blue-button">Edit Title</app-generic-button>
<app-generic-button *ngIf="isEdited" (click)="isEdited = false; save.emit(title)" colourClass="green-button">Save Title</app-generic-button>
<app-switch [open]="open" (click)="open = !open; openChange.emit(open)"></app-switch>
