@import '../../../../../shared/scss/colours';

:host {
    background-color: $web-black;
    color: $white;
    display: grid;
    grid-column-gap: 1.4vw;
    grid-template-columns: auto repeat(5, min-content);
    padding: 1.4vw;

    p {
        align-self: center;
    }

    input {
        border: none;
        font-size: inherit;
        font-family: inherit;
    }
}
