@import '../../../shared/scss/mixins';

:host {
    position: fixed;
    width: 92.7vw;
    z-index: -1;
}

#white-space {
    height: 4.17vw;
}

#green-line {
    background-color: #00cc66;
    float: left;
    height: 0.208vw;
    position: absolute;
    width: 85.416vw;
}

@include mobile {
    #white-space {
        height: 15.625vw;
    }

    #green-line {
        height: 0.625vw;
        width: 100vw;
    }
}

@include mobile {
    :host {
        width: 100%;
    }
}
