@import '../../../shared/scss/mixins';

svg {
    height: 5.2vw;

    path {
        fill: #191919;
    }
}

svg:hover {
    cursor: pointer;
}

@include mobile {
    :host {
        padding: 3.125vw 4.6875vw;
    }

    svg {
        height: 9.375vw;
        width: 9.375vw;
    }
}
