<svg id="logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100.05">
    <title>logo</title>
    <path
        d="M696.85,399.37a29,29,0,0,1-29-26.08,18.26,18.26,0,0,0,8.23,2,18.47,18.47,0,0,0,3.57-.35l.72,2.74c3.56-.24,8.72-.15,9.75,5.78a4.66,4.66,0,0,0,4.78,3.51h16.65s-7.39-14.48-11-21.52c-5.89-11.35,18.38-16.8,26.42-3.64h.78A50,50,0,1,0,652,423.58a68.48,68.48,0,0,1-6.15-11.87c-2.44-6-5.18-16.81-2.28-27,.27-.92.55-1.82.84-2.73-1.53,9.34.93,18.66,3.15,24.12,3.15,7.76,10.84,18.58,17.43,24.94a49.82,49.82,0,0,0,16.47,3.34,77.12,77.12,0,0,1-18.11-17.67c-4.89-6.47-11.69-18.61-11.48-31.86,0-1.19.07-2.38.13-3.57,1.17,11.77,7.15,22.23,11.6,28.11,6.21,8.2,18.69,18.58,28.63,24.19a50.08,50.08,0,0,0,13.28-4.46A103.2,103.2,0,0,1,685,416.46c-8-6.22-20.13-18.69-24.17-34.74-.36-1.45-.69-2.9-1-4.36,5.23,13.83,15.83,24.52,23.11,30.18,7.51,5.85,19.57,12,30.93,16.28A50,50,0,0,0,733,386.93H721.94C718.57,392.24,711.35,399.37,696.85,399.37ZM690.22,339a45.83,45.83,0,0,1,25.51,13.14,78.67,78.67,0,0,0-22.41-.79l-1.41-2.75s-4.23.13-4.79-3.35C686.67,342.51,690.22,339,690.22,339Zm-10.74-.43a46.28,46.28,0,0,1,7.72,0,25.36,25.36,0,0,0-9.6,4.4ZM690.12,352l17.27,32.14s-3.53-5.23-12.69,0a2.37,2.37,0,0,1-2.11-2.15c-.42-4.34-3-8.5-8.08-7.55,3.65-2.68,4.12-4.06,5.53-7.35l-1.24-.71a16.73,16.73,0,0,1-6.68,5.12,7.8,7.8,0,0,1-2.88.55c-3,0-6.58-1.45-7.52-4.09C666.91,354.55,690.12,352,690.12,352Zm-43.06,17.35c3.4-10,13.21-18.7,25.46-21.05a20.07,20.07,0,0,0-2.5,5l-.07.11C659.59,356.26,651.44,362.06,647.06,369.35Z"
        transform="translate(-633 -334.34)"/>
</svg>
