<div class="palette" [style.opacity]="isEdited ? 1 : 0">
    <div class="light-grey" (click)="colorChange.emit('light-grey')"></div>
    <div class="grey" (click)="colorChange.emit('grey')"></div>
    <div class="green" (click)="colorChange.emit('green')"></div>
    <div class="blue" (click)="colorChange.emit('blue')"></div>
</div>
<app-generic-button (click)="delete.emit(true)" colourClass="red-button">Delete</app-generic-button>
<app-generic-button (click)="move.emit('up')" colourClass="black-button">Up</app-generic-button>
<app-generic-button (click)="move.emit('down')" colourClass="black-button">Down</app-generic-button>
<app-generic-button *ngIf="!isEdited" (click)="isEdited = true; isEditedChange.emit(true)" colourClass="black-button">Edit</app-generic-button>
<app-generic-button *ngIf="isEdited" (click)="isEdited = false; save.emit(true); isEditedChange.emit(false)" colourClass="black-button">Save</app-generic-button>
