@import '../../../../../shared/scss/colours';
@import '../../../../../shared/scss/common-classes';
@import '../../../../../shared/scss/schemes';

:host {
    display: grid;
    grid-column-gap: 1.4vw;
    grid-template-columns: auto repeat(4, min-content);
    transition: all 1s;

    .palette {
        border: $white 2px solid;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
}
