<div class="add-button" (click)="new.emit('text')">
    <div class="icon-wrapper">
        <img class="new-section-icon" src="/assets/plus-black-circle.svg" alt="new">
        <img class="new-section-icon" src="/assets/text2.svg" alt="text">
    </div>
</div>
<div class="add-button" (click)="new.emit('list')">
    <div class="icon-wrapper">
        <img class="new-section-icon" src="/assets/plus-black-circle.svg" alt="new">
        <img class="new-section-icon" src="/assets/list.svg" alt="list">
    </div>
</div>
<div class="add-button" (click)="new.emit('map')">
    <div class="icon-wrapper">
        <img class="new-section-icon" src="/assets/plus-black-circle.svg" alt="new">
        <img class="new-section-icon" src="/assets/map.svg" alt="map">
    </div>
</div>
