@import '../../../../../shared/scss/colours';

:host {
    background-color: $grey;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow: hidden;
    transition: all 1s;

    .add-button {
        cursor: pointer;
        display: grid;
        padding: 1.4vw 0;

        .icon-wrapper {
            justify-self: center;
            display: grid;
            grid-column-gap: 0.7vw;
            grid-template-columns: min-content min-content;
            margin: auto;


            .new-section-icon {
                height: 1.4vw;
            }
        }
    }

    .add-button:hover {
        background-color: $white;
    }
}
