<app-subpage-top logo="ritual.svg">
    <div>
        <span class="top-number">² ―</span><span class="top-title"> Szolgáltatás portfólió</span>
    </div>
</app-subpage-top>
<app-portfolio-slider></app-portfolio-slider>
<div class="full-width-wrap">
    <div class="content-wrap">
        <div class="support">
            <div class="support-text">― Egy projekt életciklusának teljeskörű támogatása</div>
            <svg id="line" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 571.2 2">
                <title>line</title>
                <rect class="a" width="571.2" height="2"/>
            </svg>
        </div>
        <div class="chart-wrap first-chart">
            <div class="left-wrap">
                <div class="green-pager prlx prlx-1">1/3</div>
                <img src="assets/portfolio/chart1.svg" alt="chart1">
            </div>
            <div class="description">
                <h4>Projekt előkészítése ―</h4>
                <div class="space"></div>
                <div class="attributes">
                    <span class="semibold blue-font">Projektmenedzsment:</span> projekt tervezése<br/>
                    <span class="semibold web-black-font">Minőségbiztosítás:</span> minőségbiztosítás tervezése
                </div>
                <div class="space"></div>
                <div class="list">
                    <span class="green-font">¹ ―</span> IT fejlesztések tervezése<br/>
                    <span class="green-font">² ―</span> Pályázatmenedzsment: koncepcionálás, pályázati dokumentáció elkészítése
                </div>
            </div>
        </div>
        <div class="chart-wrap second-chart">
            <div class="left-wrap">
                <div class="green-pager prlx prlx-1">2/3</div>
                <img src="assets/portfolio/chart2.svg" alt="chart2">
            </div>
            <div class="description">
                <h4>Projekt megvalósítás ―</h4>
                <div class="space"></div>
                <div class="attributes">
                    <span class="semibold blue-font">Projektmenedzsment:</span> lebonyolítás támogatása<br/>
                    <span class="semibold web-black-font">Minőségbiztosítás:</span> folyamat és szakmai minőségbiztosítás
                </div>
                <div class="space"></div>
                <div class="list">
                    <span class="green-font">¹ ―</span> Igazgatásszervezés<br/>
                    <span class="green-font">² ―</span> Szervezetfejlesztés<br/>
                    <span class="green-font">³ ―</span> Folyamatmenedzsment<br/>
                    <span class="green-font">⁴ ―</span> Alkalmazásfejlesztés támogatása, integráció és implementálás
                </div>
            </div>
        </div>
        <div class="chart-wrap third-chart">
            <div class="left-wrap">
                <div class="green-pager prlx prlx-1">3/3</div>
                <img src="assets/portfolio/chart3.svg" alt="chart3">
            </div>
            <div class="description">
                <h4>Projekt zárása ―</h4>
                <div class="space"></div>
                <div class="attributes">
                    <span class="semibold blue-font">Projektmenedzsment:</span> projekt zárása<br/>
                    <span class="semibold web-black-font">Minőségbiztosítás:</span> átadás-átvétel minőségbiztosítása
                </div>
                <div class="space"></div>
                <div class="list">
                    <span class="green-font">¹ ―</span> Pályázatmenedzsment: adminisztratív, pénzügyi és fizikai zárás
                </div>
            </div>
        </div>
    </div>
    <app-up-arrow></app-up-arrow>
</div>
