@import '../../../shared/scss/colours';
@import '../../../shared/scss/common-classes';
@import '../../../shared/scss/mixins';

:host {
    margin-top: 4.17vw;
}

.top-number {
    color: $white;
}

.full-width-wrap {
    background-color: $white;
    display: grid;
    grid-template-columns: 85.416vw auto;
    position: relative;
}

.support {
    background-color: $light-grey;
    color: $web-black;
    font-size: 1.666vw;
    font-weight: 400;
    padding-left: 12.8125vw;

    .support-text {
        box-sizing: border-box;
        height: 6.45vw;
        padding-top: 3.646vw;
    }

    #line {
        width: 29.75vw;

        .a {
            fill: #e1e1e1;
        }
    }
}

.chart-wrap {
    display: grid;
    grid-template-columns: 42.725vw auto;

    .left-wrap {
        height: min-content;
        position: relative;

        .green-pager {
            align-content: center;
            border-radius: 50%;
            background-color: $green;
            color: $white;
            display: grid;
            font-size: 1.04vw;
            font-weight: 400;
            height: 3.646vw;
            justify-content: center;
            left: 2.448vw;
            position: absolute;
            top: 2.9vw;
            width: 3.646vw;
        }
    }

    .description {
        color: $dark-grey;
        font-size: 1.25vw;
        line-height: 2.4vw;
        width: 38.336vw;

        h4 {
            color: $green;
            font-size: 1.354vw;
            font-weight: 600;
            text-transform: uppercase;
        }
        .space {
            height: 2.396vw;
        }
        .semibold {
            font-weight: 600;
        }
        .blue-font {
            color: $blue;
        }
        .green-font {
            color: $green;
        }
        .web-black-font {
            color: $web-black;
        }
    }
}

.first-chart {
    background-color: $light-grey;

    img {
        height: 39.27vw;
        width: 39.27vw;
    }

    .description {
        padding-top: 6.72625vw;
    }
}

.second-chart {
    img {
        height: 38.49vw;
        width: 38.49vw;
    }

    .description {
        padding-top: 5.75vw;
    }
}

.third-chart {
    background-color: $light-grey;

    img {
        height: 39.166vw;
        width: 39.166vw;
    }

    .description {
        padding-top: 6.632vw;
    }
}

@include mobile {
    :host {
        margin-top: 15.625vw;
    }

    .full-width-wrap {
        display: block;
    }

    .support {
        font-size: 3.4375vw;
        padding-left: 4.6875vw;

        .support-text {
            box-sizing: content-box;
            height: 9.375vw;
            padding-top: 9.375vw;
        }

        #line {
            width: 64vw;
        }
    }

    .chart-wrap {
        grid-template-columns: 1fr;

        .left-wrap {
            .green-pager {
                font-size: 2.1875vw;
                height: 8vw;
                left: 5.8vw;
                top: 6.7vw;
                width: 8vw;
            }
        }

        .description {
            font-size: 3.75vw;
            line-height: 7.1875vw;
            padding: 4.6875vw;
            width: unset;

            h4 {
                font-size: 4.0625vw;
            }
        }
    }

    .first-chart {
        img {
            height: unset;
            width: 92%;
        }
    }

    .second-chart {
        img {
            height: unset;
            width: 90%;
        }
    }

    .third-chart {
        img {
            height: unset;
            width: 91.66%;
        }
    }
}
