<app-subpage-top logo="thumbprint.svg">
    <div>
        <span class="top-number">¹ ―</span><span class="top-title"> Cégfilozófia</span>
    </div>
    <img src="assets/philosophy/quotation-mark.svg" class="quotation-mark"/>
</app-subpage-top>
<div class="intro-wrap right-pad">
    <div class="intro-text">
        <p class="prlx prlx-1">„Azzal a céllal megyünk be minden nap dolgozni, hogy szolgáltatásaink által olyan értéket teremtsünk, amellyel kiérdemeljük partnereink élethosszig tartó bizalmát.”</p>
    </div>
</div>
<div class="workings">― Működésünk építőkövei</div>
<div class="tiles">
    <app-philosophy-tile title="bizalom" image="trust.svg">
        kapcsolataink építése és ápolása a kölcsönös lojalitáson alapulnak.
    </app-philosophy-tile>
    <app-philosophy-tile title="etika" image="ethics.svg">
        annak aki hosszú távon tervez, kizárólag erkölcsi normák mentén érdemes működnie.
    </app-philosophy-tile>
    <app-philosophy-tile title="Professzionalizmus" image="pro.svg" class="extra-bottom">
        iparági sztenderdek mentén, minőségi szolgáltatás nyújtása minden esetben határidőre.
    </app-philosophy-tile>
    <app-philosophy-tile title="Minőség és maximalizmus" image="quality.svg" class="extra-bottom">
        az önmagunk által felállított, egyre magasabb mércének megfelelő működés, ami minden esetben meghaladja az ügyfél általi elvárásokat is.
    </app-philosophy-tile>
    <app-philosophy-tile title="tapasztalat" image="xp.svg" class="extra-bottom">
        több esetben bizonyított, gyakorlatban kipróbált megoldások alkalmazása.
    </app-philosophy-tile>
    <app-philosophy-tile title="tanulás" image="study.svg" class="extra-bottom">
        önfejlesztésre belső motivációból képes egyéniségek, csapattagok tudatos kinevelése, munkatársak külső képzéseinek támogatása, cégszintű tréningek biztosítása.
    </app-philosophy-tile>
    <app-philosophy-tile title="Partnerség" image="partners.svg" class="extra-bottom">
        szinergiában az ügyfelekkel, belső csapatmunkára építve.
    </app-philosophy-tile>
    <app-philosophy-tile title="+Érték" image="value.svg" class="extra-bottom">
        hozzáadott értékünket - az elkészített termékeink ügyfél oldali közvetlen<br>haszna mellett – a folyamatos ügyfélkommunikáción alapuló,<br>tanácsadói oldalról gyors válaszidőt biztosító együttműködés jelenti.
    </app-philosophy-tile>
</div>
<div class="slider-wrapper">
    <div class="line"></div>
    <app-about-us-slider></app-about-us-slider>
</div>
<app-up-arrow></app-up-arrow>
