@import '../../../shared/scss/colours';
@import '../../../shared/scss/common-classes';
@import '../../../shared/scss/mixins';

:host {
    height: min-content;
    margin-top: 4.17vw;
    padding-bottom: 3.646vw;
    position: relative;

    .top-number {
        color: $white;
    }

    .quotation-mark {
        background-color: $blue;
        color: $white;
        display: block;
        height: 4.27vw;
        width: 4.27vw;
    }

    .intro-wrap {
        background: url('/assets/fill/intro-wrap-bg.svg');
        background: linear-gradient(transparent 33.3%, $light-grey 33.3% 66.6%, $white 33.3%);
        height: 25.625vw;
        padding-left: 12.8125vw;
    }

    .intro-text {
        background-color: $white;
        box-sizing: border-box;
        color: $web-black;
        font-size: 2.5vw;
        line-height: 3.75vw;
        padding: 4.27vw;
    }

    .workings {
        background-color: $white;
        color: $web-black;
        font-size: 1.666vw;
        font-weight: 400;
        height: 2vw;
        padding-left: 12.8125vw;
    }

    .tiles {
        background: white url('/assets/fill/philosophy-tiles.svg');
        background: linear-gradient($white 0 39.5815vw, $light-grey 39.5815vw 100%);
        display: grid;
        grid-template-columns: min-content min-content;
        grid-column-gap: 2.5vw;
        padding-bottom: 2.1875vw;
        padding-left: 4.27vw;
        padding-right: 6.25vw;

        .extra-bottom {
            margin-bottom: 1.5625vw;
        }
    }

    .slider-wrapper {
        .line {
            background-color: $green;
            float: top;
            height: 4px;
            width: 85.416vw;
        }

        background-color: $white;
        padding-top: 1.666vw;
        width: 100%;
    }
}

@include mobile {
    :host {
        margin-top: 15.625vw;
        padding-bottom: 0;

        .quotation-mark {
            height: 9.375vw;
            width: 9.375vw;
        }

        .intro-wrap {
            height: min-content;
            padding: 0;
        }

        .intro-text {
            background-color: $light-grey;
            font-size: 5.625vw;
            line-height: 9.375vw;
            padding: 9.375vw 4.6875vw;
        }

        .workings {
            box-sizing: border-box;
            font-size: 3.75vw;
            height: 17.1875vw;
            padding-left: 4.6875vw;
            padding-top: 9.375vw;
        }

        .tiles {
            background: $white;
            grid-template-columns: auto;
            padding: 0 4.6875vw 4.6875vw 4.6875vw;
        }

        .slider-wrapper {
            padding-top: 0;

            .line {
                width: 100%;
            }
        }
    }
}
