@import '../../../shared/scss/colours';
@import '../../../shared/scss/common-classes';
@import '../../../shared/scss/mixins';

:host {
    background: white no-repeat url('/assets/fill/landing-host.svg');
    background: linear-gradient($light-grey 0% 25.624vw, $white 25.624vw 100%);
    height: min-content;
    margin-top: 53.09vw;
    padding-right: 7.3vw;
    position: absolute;
}

#bicolour-line {
    background: $green;
    background: linear-gradient(to right, $green 0 85.416vw, $blue 85.416vw 100%);
    position: absolute;
    width: 100%;
}

.line {
    height: 0.208vw;
}

.black {
    background-color: $web-black;
}

.grey {
    background-color: $grey;
}

#halfwit-summaries {
    background-color: $light-grey;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 4.27vw;
}

@include mobile {
    :host {
        margin-top: 79.0625vw;
        padding: 0;
        position: unset;
    }

    #bicolour-line {
        display: none;
    }

    #halfwit-summaries {
        grid-template-columns: 100vw;
        padding-bottom: 0;
    }
}
