<div id="bicolour-line" class="line"></div>

<app-philosophy-summary></app-philosophy-summary>
<div class="black line"></div>
<app-portfolio-summary></app-portfolio-summary>
<div class="grey line"></div>
<app-experience-summary></app-experience-summary>
<div id="halfwit-summaries">
    <app-contact-summary></app-contact-summary>
    <app-career-summary></app-career-summary>
</div>
<app-up-arrow></app-up-arrow>
