@import './shared/scss/mixins';

:host {
    height: 100vh;
    overflow-y: scroll;
}

main {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content 0 auto min-content;
    margin-left: 7.3vw;
    min-height: 100vh;
    width: 92.7vw;
}

@include mobile {
    main {
        margin-left: 0;
        width: 100%;
    }
}
