<form #loginForm="ngForm">
    <label for="email">email</label>
    <input type="email" id="email" name="email" [(ngModel)]="email" #emailField="ngModel" required>
    <label for="password">password</label>
    <input type="password" id="password" name="password" [(ngModel)]="password" #passwordField="ngModel" required>
    <div *ngIf="(emailField.errors || passwordField.errors) && emailField.touched && passwordField.touched">
        Please add your email and password.
    </div>
    <div class="error" *ngIf="error">{{ stringify(error) }}</div>
    <app-generic-button colourClass="blue-button" (click)="login()">Login</app-generic-button>
</form>
