@import '../../../shared/scss/colours';
@import '../../../shared/scss/mixins';

:host {
    padding-top: 7.5vw;
}

form {
    display: grid;
    background-color: $light-grey;
    grid-template-rows: 20px 60px 20px 60px auto auto min-content;
    margin: 20vh auto;
    padding: 20px;
    width: 33%;

    input {
        font-size: 16px;
        height: 40px;
    }

    app-generic-button {
        justify-self: right;
    }

    .error {
        word-break: break-all;
    }
}

@include mobile {
    :host {
        padding-top: 16.25vw;
    }

    form {
        box-sizing: border-box;
        font-size: 3.75vw;
        grid-template-rows: 9.375vw 9.375vw 9.375vw 9.375vw auto auto min-content;
        margin: 4.6875vw;
        padding: 4.6875vw;
        width: 90vw;

        input {
            border: 0;
            font-size: 3.75vw;
            height: 9.375vw;
            padding: 0;
        }

        label {
            align-self: center;
        }

        app-generic-button {
            padding-top: 4.6875vw;
        }
    }
}
