<div class="slider-title">
    <p class="title-slide" *ngFor="let slide of slides.window" [style.left]="slide.position + '%'">{{slide.element.title}}</p>
</div>
<div class="page">{{ slides.center + 1 }}/{{ slides.length }}</div>

<img src="assets/arrow-left.svg" class="arrow arrow-left" alt="arrow-left" (click)="handleClick('left')">
<img src="assets/arrow-right.svg" class="arrow arrow-right" alt="arrow-right" (click)="handleClick('right')">

<div class="slider-content" (click)="slides.next()">
    <div *ngFor="let slide of slides.window" class="slide prlx" [style.left]="slide.position + '%'">{{ slide.element.text }}</div>
</div>
