@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/mixins';

:host {
    background: white;
    background: url('/assets/fill/portfolio-slider.svg');
    background: linear-gradient(transparent 0 8.54vw, #f5f5f5 8.54vw 17.08vw, #fff 17.08vw 100%);
    display: grid;
    font-size: 1.354vw;
    grid-template-columns: 4.27vw auto 8.54vw;
    grid-template-rows: 4.27vw 4.27vw auto;
    height: 31.875vw;
    padding-left: 8.54vw;
    padding-right: 7.3vw;

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        display: none;
    }
}

.slider-title {
    background-color: $blue;
    color: $white;
    line-height: 4.27vw;
    font-weight: 400;
    grid-column: 2;
    overflow: hidden;
    position: relative;
    text-transform: uppercase;

    .title-slide {
        padding-left: 4.27vw;
        position: absolute;
        transition: all 1s;
    }
}

.page {
    background-color: $white;
    color: $web-black;
    display: grid;
    place-content: center;
}

.arrow {
    box-sizing: border-box;
    cursor: pointer;
    height: 4.27vw;
    padding: 1.09375vw;
    width: 4.27vw;
}

.arrow-left {
    background-color: $blue;
}

.arrow-right {
    background-color: $green;
    grid-column: 1;
    grid-row: 3;
}

.slider-content {
    background-color: white;
    overflow: hidden;
    position: relative;
    transition: all 1s;
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    overflow-y: scroll;

    .slide {
        box-sizing: border-box;
        color: $dark-grey;
        display: block;
        line-height: 2.1875vw;
        padding: 4.27vw 17.1vw 0 8.54vw;
        position: absolute;
        transition: all 1s;
        width: 100%;
    }
}

@include mobile {
    :host {
        background: url('/assets/fill/portfolio-slider-mobile.svg');
        background: linear-gradient(transparent 0 8.54vw, $white 8.54vw 100%);
        grid-template-columns: 12.8125vw auto 12.8125vw;
        grid-template-rows: 25.625vw 12.8125vw min-content;
        height: min-content;
        padding: 0 4.6875vw;
    }

    .slider-title {
        font-size: 4.0625vw;
        grid-column: 1 / 4;
        line-height: 6.5625vw;

        .title-slide {
            overflow: hidden;
            padding: 2.96875vw 9.0625vw;
            width: 72.5vw;
        }
    }

    .page {
        font-size: 3.125vw;
        grid-column: 2;
        grid-row: 2;
    }

    .arrow {
        height: 12.8125vw;
        width: 100%;
    }

    .arrow-right {
        grid-column: 3;
        grid-row: 2;
    }

    .slider-content {
        background: $white;
        grid-column: 1 / 4;
        grid-row: 3;
        min-height: 110vw;

        .slide {
            font-size: 3.75vw;
            line-height: 7.1875vw;
            padding: 6.5625vw 0 0 0;
        }
    }
}
