<app-summary-header buttonColourClass="blue-button" link="experience" logo="/assets/landing/logos/experience.svg">
    <h2>Tapasztalat</h2>
    <p class="landing-subtitle">― Több mint 10 éve a piacon</p>
</app-summary-header>
<div class="summary-button-mobile">
    <app-next-button link="experience" colourClass="blue-button"></app-next-button>
</div>
