@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/common-classes';
@import '../../../../shared/scss/mixins';

:host {
    background-image: url("/assets/landing/experience-bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    height: 29.9vw;
}

h2 {
    color: $blue;
    padding-bottom: 1.8vw;
}

.subtitle {
    color: $dark-grey;
}

@include mobile {
    :host {
        background-color: $white;
        background-image: url("/assets/landing/experience-bg-mobile.svg");
        box-sizing: border-box;
        display: grid;
        grid-template-rows: auto min-content;
        height: 78.125vw;
        padding: 4.6875vw;
    }

    h2 {
        font-weight: 400;
        padding-bottom: 3.6vw;
    }
}
