@import '../../../../../shared/scss/colours';
@import '../../../../../shared/scss/mixins';

:host {
    display: grid;
    grid-column-gap: 4px;
    grid-template-columns: auto auto;
}

button {
    background-color: $blue;
    border: none;
    cursor: pointer;
    height: 4.27vw;
    padding: 0;
    width: 100%;

    img {
        float: right;
        justify-self: right;
        padding: 1.09375vw 8.54vw;
        width: 3.135vw;
    }
}

button:first-child {
    img {
       float: left;
    }
}

@include non-mobile {
    :host {
        grid-column: 1 / 3;
    }
}

@include mobile {
    :host {
        grid-column-gap: 2px;
    }

    button {
        height: min-content;

        img {
            width: 9.375vw;
        }
    }

    button:first-child {
        img {
            padding: 3.28125vw 35.625vw 3.28125vw 4.6875vw;
        }
    }

    button:nth-child(2) {
        img {
            padding: 3.28125vw 4.6875vw 3.28125vw 35.625vw;
        }
    }
}
