<button (click)="direction.emit('left')">
    <img src="assets/arrow-left.svg" alt="left">
</button>
<button (click)="direction.emit('right')">
    <img src="assets/arrow-right.svg" alt="right">
</button>
