@import '../../../../shared/scss/mixins';

:host {
    display: grid;
    font-size: 2.5vw;
    font-weight: 300;
    grid-template-columns: min-content auto min-content;
    padding: 4.468854vw 5.052vw 2.09375vw 2.2916vw;
}

app-summary-logo {
    padding-right: 4.416vw;
}

@include mobile {
    :host {
        font-size: 5.3125vw;
        padding: 0 0 4.6875vw 0;
    }

    app-next-button {
        display: none;
    }
}
