<a routerLink="/admin/messages" routerLinkActive="active-item">Messages</a>
<a routerLink="/admin/about-us-slides" routerLinkActive="active-item">About Us Slides</a>
<a routerLink="/admin/portfolio-slides" routerLinkActive="active-item">Portfolio Slides</a>
<a routerLink="/admin/positions" routerLinkActive="active-item">Positions</a>
<div [class]="registrationAllowed ? 'green' : 'red'">
    <input id="reg" type="checkbox" style="display: none" (change)="setRegistration($event.target)" #chb />
    <label for="reg">Registration Allowed</label>
</div>
