@import '../../../shared/scss/colours';
@import '../../../shared/scss/mixins';

:host {
    align-content: center;
    background-color: $white;
    box-sizing: border-box;
    display: grid;
    font-size: 1.04vw;
    grid-template-columns: repeat(5, 1fr);
    padding-right: 7.3vw;
    position: fixed;
    width: 92.7vw;
}

a, div {
    align-content: center;
    color: $web-black;
    display: grid;
    height: 7.3vw;
    justify-content: center;
    transition: all 250ms;
}

a:hover {
    background-color: $grey;
    color: $web-black;
}

.active-item {
    background-color: $blue;
    color: white;
}

label {
    color: $white;
}

.green {
    background-color: $green;
}

.red {
    background-color: #ff3333;
}

@include mobile {
    :host {
        background-color: $light-grey;
        font-size: 2.5vw;
        margin-top: 15.625vw;
        width: 100vw;
    }
}
