@import '../../../shared/scss/colours';
@import '../../../shared/scss/mixins';

#container {
    box-sizing: border-box;
    display: grid;
    overflow: hidden;
    position: fixed;
    transition: all 1s;

    #menu-container {
        align-content: space-between;
        color: $white;
        font-size: 3.8541666666667vw;
        display: grid;
        grid-template-columns: auto;
        padding-top: 12.963vh;
        transition: all 1s;

        .active-item {
            color: $web-black;
            font-weight: 600;
            text-decoration: underline;
        }
    }

    #left {
        display: grid;
        transition: all 1s;
        width: min-content;

        app-hamburger {
            cursor: pointer;
            display: grid;
        }

        app-x {
            cursor: pointer;
        }
    }
}

.closed {
    background-color: $grey;

    #menu-container {
        opacity: 0;
    }
}

.open {
    background-color: $blue;
}

@include non-mobile {
    #container {
        grid-column-gap: 4.81875vw;
        grid-template-columns: min-content 64.0625vw;
        height: 100vh;
        z-index: 1;

        #left {
            grid-template-rows: min-content auto;
            height: 100vh;
            padding-top: 1.04vw;

            app-logo-small {
                height: 1.04vw;
            }

            app-hamburger {
                justify-items: center;
                padding-top: calc(50vh - (1.04vw + 5.2vw + 0.52vw));
            }

            app-x {
                padding-top: calc(50vh - (1.04vw + 8.333vw + 1.5625vw));
            }
        }

        #menu-container {
            height: 61.4742592592593vh;
        }
    }

    .closed {
        width: 7.3vw;

        #left {
            padding-left: 1.04vw;
            padding-right: 1.04vw;
        }
    }

    .open {
        width: 84.166vw;

        #left {
            padding-left: 3.56875vw;
            padding-right: 3.56875vw;
        }
    }
}

@include mobile {
    #container {
        grid-template-rows: min-content auto;
        width: 100vw;

        #left {
            box-sizing: border-box;
            grid-template-columns: min-content min-content;
            justify-content: space-between;
            width: 100vw;
        }

        #menu-container {
            font-size: 7.5vw;
            font-weight: 400;
            grid-row-gap: 7.5vw;
            height: min-content;
            line-height: 15vw;
            padding: 7.8125vw 4.6875vw 0 4.6875vw;
        }
    }

    .closed {
        height: 15.625vw;
        z-index: 1;

        #left {
            align-items: center;
        }
    }

    .open {
        height: 100vh;
        z-index: 2;
    }
}
