<div id="container" [class.open]="open" [class.closed]="!open" (click)="setOpen(true)">
    <div id="left" (click)="setOpen(true)">
        <app-logo-small *ngIf="!open" (click)="setOpen(false)" routerLink=""></app-logo-small>
        <app-logo-full *ngIf="open" routerLink="" (click)="setOpen(false)"></app-logo-full>

        <app-hamburger *ngIf="!open"></app-hamburger>
        <app-x *ngIf="open" (click)="setOpen(false)"></app-x>
    </div>

    <nav id="menu-container">
        <a *ngFor="let item of items" [routerLink]="item.link" routerLinkActive="active-item" (click)="setOpen(false)">{{item.title}}</a>
    </nav>
</div>
<app-letter *ngIf="!open"></app-letter>
