@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/common-classes';
@import '../../../../shared/scss/mixins';

:host {
    background-color: $web-black;
}

h2 {
    color: $green;
    padding-bottom: 1.04vw;
}

#email {
    color: $white;
    cursor: pointer;
}

#email:hover {
    color: $blue;
}

@include mobile {
    h2 {
        font-size: 5.3125vw;
        font-weight: 400;
        padding-bottom: 3.6vw;
    }
}
