<app-half-summary buttonColourClass="green-button" logo="/assets/landing/logos/contact.svg" link="contact">
    <h2>Kapcsolat</h2>
    <a href="mailto:info@uniconkft.hu" id="email" class="landing-subtitle">info@uniconkft.hu</a>
</app-half-summary>
