@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/common-classes';
@import '../../../../shared/scss/mixins';

:host {
    display: block;
    background: linear-gradient($light-grey 54.5454%, $white 45.4545%);
}

h2 {
    padding-bottom: 1.8vw;
}

#tiles {
    background: linear-gradient($light-grey 37.5%, $grey 37.5% 50%, $light-grey 50% 87.5%, $grey 87.5% 100%);
    display: grid;
    grid-column-gap: 0.104vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    justify-items: stretch;
}

@include mobile {
    :host {
        background: url('/assets/fill/philosophy-summary-mobile-01.svg');
        background: linear-gradient($light-grey 0% 49.6875vw, $white 49.6875vw 100%);
        padding: 4.6875vw;
    }

    h2 {
        color: $web-black;
        font-weight: 400;
        padding-bottom: 3.6vw;
    }

    #tiles {
        background: repeating-linear-gradient(to bottom, $light-grey, $light-grey 27.1875vw, $grey 27.1875vw, $grey 36.25vw);
        grid-column-gap: 2px;
        grid-template-columns: repeat(2, 1fr);
    }
}
