<app-summary-header buttonColourClass="black-button" link="philosophy" logo="/assets/landing/logos/thumbprint0.svg">
    <h2>Cégfilozófia</h2>
    <p class="landing-subtitle">― Működésünk építőkövei</p>
</app-summary-header>
<div id="tiles">
    <app-ps-tile *ngFor="let tile of tiles" [image]="tile.image" [text]="tile.text"></app-ps-tile>
</div>
<div class="summary-button-mobile">
    <app-next-button link="philosophy" colourClass="black-button"></app-next-button>
</div>
