@import '../../../shared/scss/mixins';

:host {
    float: right;
    position: fixed;
    right: 1.28vw;
    top: 2.1575vw;
    width: min-content;
    z-index: 1;
}

svg {
    height: 3.646vw;

    .cls-1 {
        fill: #0c6;
    }

    .cls-2 {
        fill: none;
        stroke: #fff;
        stroke-miterlimit: 10;
        stroke-width: 2px;
    }
}

@include mobile {
    :host {
        float: left;
        left: 18.75vw;
        top: 3.125vw;
    }

    svg {
        height: 9.375vw;
    }
}
