<a href="mailto:info@uniconkft.hu" (contextmenu)="scrollDown($event)">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70">
        <title>mail</title>
        <circle class="cls-1" cx="35" cy="35" r="35"/>
        <rect class="cls-2" x="15" y="20" width="40" height="30"/>
        <polyline class="cls-2" points="15 20 35 39.83 55 20"/>
    </svg>
</a>
