@import '../../../shared/scss/mixins';

svg {
    height: 1.04vw;
}

rect {
    fill: #191919;
}

@include mobile {
    :host {
        padding: 3.125vw 4.6875vw;
    }

    svg {
        height: 5.625vw;
        width: 7.1875vw
    }
}
