@import '../../../shared/scss/colours';
@import '../../../shared/scss/mixins';

:host {
    box-sizing: border-box;
    display: grid;
    font-size: 3.8541666666667vw;
    grid-template-columns: auto min-content;
    height: 17.08vw;
    padding: 5.677vw 11.5625vw 0 8.54vw;

    .top-content {
        align-content: space-between;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
}

img {
    background-color: $blue;
    border-radius: 50%;
    color: $white;
    height: 8.54vw;
    width: 8.54vw;
}

@include mobile {
    :host {
        font-size: 7.5vw;
        grid-row-gap: 4.6875vw;
        grid-template-columns: auto;
        grid-template-rows: min-content auto;
        height: min-content;
        padding: 9.48vw 4.6875vw 0 4.6875vw;

        .top-content {
            font-weight: 400;
            grid-template-rows: 21.147vw min-content;
        }
    }

    img {
        grid-row: 1;
        height: 18.75vw;
        justify-self: right;
        width: 18.75vw;
    }
}
