<app-summary-logo [image]="logo"></app-summary-logo>
<div class="right">
    <div>
        <ng-content></ng-content>
    </div>
    <app-next-button [link]="link" [colourClass]="buttonColourClass"></app-next-button>
</div>
