@import '../../../../shared/scss/mixins';

:host {
    box-sizing: border-box;
    display: grid;
    font-size: 2.5vw;
    font-weight: 300;
    grid-template-columns: min-content auto;
    height: 25.625vw;
    padding: 4.468854vw 4.27vw 4.323vw 2.2916vw;
}

app-summary-logo {
    padding-right: 4.416vw;
}

.right {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto min-content;
}

app-next-button {
    justify-self: right;
}

@include mobile {
    :host {
        height: 50vw;
        padding: 4.6875vw 4.6875vw 9.375vw 4.6875vw;
    }
}
