@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/mixins';

:host {
    color: $white;
    display: grid;
    font-size: 1.04vw;
    font-weight: 600;
    grid-column-gap: 2.135vw;
    grid-template-columns: min-content auto;
    line-height: 1.666vw;

    .circle {
        align-content: center;
        background-image: url('/assets/experience/circle.svg');
        color: $blue;
        display: grid;
        font-size: 3.75vw;
        font-weight: 300;
        grid-template-columns: min-content min-content;
        height: 10.677vw;
        justify-content: center;
        width: 10.677vw;
    }

    .bullet {
        padding-top: 3.75vw;
    }
}

@include mobile {
    :host {
        font-size: 3.125vw;
        grid-column-gap: 9.0625vw;
        line-height: 5vw;

        .circle {
            font-size: 9.6875vw;
            height: 27.1875vw;
            width: 27.1875vw;
        }

        .bullet {
            padding-top: 8.6vw;
        }
    }
}
