@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/common-classes';
@import '../../../../shared/scss/mixins';
@import '../../../../shared/scss/schemes';

.job-title {
    align-items: center;
    background-color: $black;
    color: $white;
    display: grid;
    font-size: 1.666vw;
    font-weight: 400;
    grid-template-columns: auto min-content;
    height: 9.84vw;
    padding-left: 3.75vw;
    padding-right: 6.72625vw;
}

.closed-element {
    color: transparent;
    height: 0;
    min-height: 0;
    padding-bottom: 0;
    padding-top: 0;
}

@include mobile {
    .job-title {
        font-size: 4.0625vw;
        height: 18.75vw;
        padding-left: 9.0625vw;
        padding-right: 4.0625vw;
        margin: 0 4.6875vw;
    }
}
