<div class="job-title">
    <p>{{ position ? '― ' + position.title : '' }}</p>
    <app-switch [open]="open" (click)="open = !open"></app-switch>
</div>
<div *ngIf="position">
    <div *ngFor="let element of position.content">
        <app-job-text *ngIf="element.type === 'text'" [input]="element" [class]="open ? element.class : element.class + ' closed-element'"></app-job-text>
        <app-job-map *ngIf="element.type === 'map'" [input]="element" [class]="open ? element.class : element.class + ' closed-element'"></app-job-map>
        <app-job-list *ngIf="element.type === 'list'" [input]="element" [class]="open ? element.class : element.class + ' closed-element'"></app-job-list>
    </div>
</div>
