@import '../../../../shared/scss/colours';
@import '../../../../shared/scss/common-classes';
@import '../../../../shared/scss/mixins';

:host {
    align-content: center;
    display: inline-grid;
    justify-content: center;
    width: 11.25vw;
}

button {
    border: none;
    border-radius: 2.96875vw;
    color: $white;
    cursor: pointer;
    font-size: 1.04vw;
    font-weight: 600;
    height: 2.8125vw;
    transition: width 50ms, height 50ms, font-size 50ms;
    width: 11.25vw;
}

button:active, button:hover {
    font-size: 0.988vw;
    height: 2.671875vw;
    width: 10.6875vw;
}

@include mobile {
    :host {
        width: 27.1875vw;
    }

    button {
        border-radius: 7.174vw;
        font-size: 2.8125vw;
        height: 6.8vw;
        width: 27.1875vw;
    }

    button:active, button:hover {
        font-size: 2.53vw;
        height: 6.12vw;
        width: 24.47vw;
    }
}
