@import '../../../shared/scss/mixins';

svg {
    box-sizing: border-box;
    cursor: pointer;
    height: 8.333vw;

    path {
        fill: #191919;
    }
}

svg:hover {
    padding: 0.416vw;
}

@include mobile {
    :host {
        padding: 4.6875vw;
    }

    svg {
        height: 23.125vw;
        width: 23.125vw;
    }
}
