<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 156.51 160">
    <title>logo-full</title>
    <path class="cls-1"
          d="M696.68,369.11a28.91,28.91,0,0,1-28.89-26,18.21,18.21,0,0,0,11.75,1.6l.72,2.73c3.54-.23,8.69-.15,9.71,5.76a4.64,4.64,0,0,0,4.76,3.49h16.58s-7.36-14.42-11-21.43c-5.88-11.3,18.29-16.73,26.31-3.63h.77A49.84,49.84,0,1,0,652,393.22a68.68,68.68,0,0,1-6.12-11.83c-2.43-6-5.16-16.73-2.27-26.88.26-.92.54-1.82.84-2.72-1.53,9.29.92,18.57,3.13,24,3.14,7.72,10.8,18.5,17.36,24.83A49.35,49.35,0,0,0,681.3,404a76.67,76.67,0,0,1-18-17.6c-4.87-6.44-11.64-18.54-11.44-31.72,0-1.19.07-2.38.13-3.56,1.17,11.72,7.13,22.13,11.56,28,6.18,8.17,18.61,18.5,28.5,24.09a49.35,49.35,0,0,0,13.23-4.44,103.21,103.21,0,0,1-20.41-12.6c-8-6.2-20.05-18.62-24.07-34.61-.36-1.44-.69-2.89-1-4.33,5.21,13.77,15.77,24.41,23,30.05,7.49,5.83,19.49,12,30.8,16.21a49.72,49.72,0,0,0,19.1-36.74h-11C718.31,362,711.11,369.11,696.68,369.11ZM690.07,309a45.64,45.64,0,0,1,25.41,13.09,78.36,78.36,0,0,0-22.31-.79l-1.41-2.74s-4.22.13-4.77-3.33C686.54,312.48,690.07,309,690.07,309Zm-10.69-.43a45.92,45.92,0,0,1,7.69.05,25.46,25.46,0,0,0-9.56,4.38ZM690,321.93l17.19,32s-3.51-5.21-12.63,0a2.37,2.37,0,0,1-2.1-2.15c-.43-4.32-3-8.46-8.05-7.51,3.63-2.68,4.1-4,5.51-7.33l-1.24-.7a16.56,16.56,0,0,1-6.65,5.09,7.59,7.59,0,0,1-2.87.55c-2.95,0-6.55-1.44-7.49-4.06C666.86,324.47,690,321.93,690,321.93Zm-42.89,17.28c3.39-10,13.16-18.63,25.36-21a20.08,20.08,0,0,0-2.49,5l-.07.11C659.57,326.17,651.46,332,647.09,339.21Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M604.52,429.32v-5.43h10v10.94a4.41,4.41,0,0,0,.24,1.56,2.75,2.75,0,0,0,.64,1,2.14,2.14,0,0,0,.9.56,3.2,3.2,0,0,0,1,.16,3.57,3.57,0,0,0,2.39-.88,3.49,3.49,0,0,0,1-2.84v-5.11H618v-5.43h10v14.38h2.68v5.43h-9.23l-.28-2.15a6.6,6.6,0,0,1-3,2.09,10,10,0,0,1-6.23.08,6.25,6.25,0,0,1-2.48-1.53,7.48,7.48,0,0,1-1.69-2.88,13.58,13.58,0,0,1-.62-4.44v-5.55Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M660.38,438.27v5.43H648.16v-5.43h2.11V432.8a4.41,4.41,0,0,0-.24-1.56,2.68,2.68,0,0,0-.62-1,2.38,2.38,0,0,0-.85-.56,2.85,2.85,0,0,0-1-.18,3.54,3.54,0,0,0-2.38.92,3.6,3.6,0,0,0-1.06,2.88v5h2.16v5.43H634.13v-5.43h2.72v-9h-2.72v-5.39h9.19l.4,2.19a6.72,6.72,0,0,1,3-2.07,9.6,9.6,0,0,1,6.23-.08,6.38,6.38,0,0,1,2.46,1.55,7.79,7.79,0,0,1,1.68,2.86,13.68,13.68,0,0,1,.62,4.42v5.51Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M664,438.27h2.79v-8.95h-2.71v-5.43h10.14v14.38H677v5.43H664Zm2.35-19.82a3.6,3.6,0,0,1,.36-1.66,3.63,3.63,0,0,1,1-1.17,4.13,4.13,0,0,1,1.36-.72,5.18,5.18,0,0,1,1.56-.24,4.68,4.68,0,0,1,1.48.24,4,4,0,0,1,1.3.72,3.82,3.82,0,0,1,.93,1.17,3.6,3.6,0,0,1,.36,1.66,3.46,3.46,0,0,1-.36,1.62,3.75,3.75,0,0,1-.93,1.18,4,4,0,0,1-1.3.72,4.68,4.68,0,0,1-1.48.24A5.18,5.18,0,0,1,669,422a4.13,4.13,0,0,1-1.36-.72,3.57,3.57,0,0,1-1-1.18A3.46,3.46,0,0,1,666.36,418.45Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M706.87,439.79a14.87,14.87,0,0,1-5.18,3.33,18.11,18.11,0,0,1-6.13,1.06,19.18,19.18,0,0,1-6.19-1,12.93,12.93,0,0,1-8.07-7.49,15.76,15.76,0,0,1-1.16-6.25,14.87,14.87,0,0,1,.9-5.31,13.62,13.62,0,0,1,2.87-4.74,14.22,14.22,0,0,1,4.86-3.37,16.85,16.85,0,0,1,6.87-1.28,16.23,16.23,0,0,1,5.27.88,11.46,11.46,0,0,1,4.52,2.79v8.07h-6.71l-.2-4.47a6,6,0,0,0-1.48-.36,13.6,13.6,0,0,0-1.4-.08,8.45,8.45,0,0,0-3.28.6,6.7,6.7,0,0,0-2.41,1.66,6.79,6.79,0,0,0-1.48,2.49,9.28,9.28,0,0,0-.5,3.12,9.07,9.07,0,0,0,.54,3.2,7,7,0,0,0,1.54,2.47,6.75,6.75,0,0,0,2.39,1.62,8,8,0,0,0,3.12.58,9.91,9.91,0,0,0,3.51-.66,8.5,8.5,0,0,0,3.16-2.1Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M720.33,423.53a14.91,14.91,0,0,1,4.23.6,10.13,10.13,0,0,1,3.6,1.87,9.37,9.37,0,0,1,2.49,3.24,10.58,10.58,0,0,1,.94,4.64,10.1,10.1,0,0,1-1,4.65,9.45,9.45,0,0,1-2.57,3.2,10.71,10.71,0,0,1-3.62,1.85,14.26,14.26,0,0,1-4.09.6,14.63,14.63,0,0,1-4.16-.6,10.52,10.52,0,0,1-3.62-1.85,9.34,9.34,0,0,1-2.53-3.2,10.37,10.37,0,0,1-1-4.65,10.65,10.65,0,0,1,1-4.72,9.33,9.33,0,0,1,2.53-3.22,10.31,10.31,0,0,1,3.6-1.83A14.91,14.91,0,0,1,720.33,423.53Zm0,14.62a3.75,3.75,0,0,0,3-1.24,4.41,4.41,0,0,0,1.1-3,4.68,4.68,0,0,0-.28-1.62,4.31,4.31,0,0,0-.8-1.38,3.75,3.75,0,0,0-1.28-1,4.27,4.27,0,0,0-3.43,0,3.75,3.75,0,0,0-1.28,1,4.31,4.31,0,0,0-.8,1.38,4.68,4.68,0,0,0-.28,1.62,4.52,4.52,0,0,0,1.06,3A3.7,3.7,0,0,0,720.33,438.15Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M761,438.27v5.43H748.81v-5.43h2.11V432.8a4.41,4.41,0,0,0-.24-1.56,2.68,2.68,0,0,0-.62-1,2.41,2.41,0,0,0-.86-.56,2.76,2.76,0,0,0-1-.18,3.54,3.54,0,0,0-2.38.92,3.6,3.6,0,0,0-1.06,2.88v5h2.16v5.43H734.78v-5.43h2.72v-9h-2.72v-5.39H744l.4,2.19a6.72,6.72,0,0,1,3-2.07,9.6,9.6,0,0,1,6.23-.08,6.38,6.38,0,0,1,2.46,1.55,7.65,7.65,0,0,1,1.67,2.86,13.41,13.41,0,0,1,.62,4.42v5.51Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M615.17,462a4.08,4.08,0,0,1-3.81,2.3c-2.86,0-4.44-2-4.44-4.82s1.71-4.83,4.44-4.83a4.11,4.11,0,0,1,3.71,2.14l-1.44.89a2.39,2.39,0,0,0-2.27-1.55c-1.64,0-2.63,1.32-2.63,3.35s1,3.3,2.63,3.3a2.39,2.39,0,0,0,2.25-1.44Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M628.19,454.69c2.72,0,4.41,2,4.41,4.83s-1.57,4.82-4.41,4.82-4.41-2-4.41-4.82S625.48,454.69,628.19,454.69Zm0,8.15c1.66,0,2.62-1.3,2.62-3.32s-1-3.36-2.62-3.36-2.61,1.33-2.61,3.36S626.54,462.84,628.19,462.84Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M647.12,460.19l.71,1.13c0-.3,0-2,0-3.34v-3.12h1.63v9.31H647.9l-3.67-5.6c-.29-.45-.58-1-.59-1,0,.44,0,1.89,0,3.45v3.11H642v-9.31h1.53Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M664.86,457.25a3.09,3.09,0,0,0-2.41-1.12c-1.09,0-1.72.54-1.72,1.25s.46.94,1.51,1.18l1.12.24c1.74.4,3,1,3,2.66s-1.41,2.88-3.74,2.88a4.91,4.91,0,0,1-4-1.91l1.37-1a3.28,3.28,0,0,0,2.77,1.42c1.24,0,1.89-.52,1.89-1.26s-.65-1-1.59-1.2l-1.25-.28c-1.52-.33-2.79-1-2.79-2.67s1.55-2.77,3.52-2.77a4.72,4.72,0,0,1,3.61,1.55Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M681,461.86a3.54,3.54,0,0,0,.2-1.58v-5.42h1.63v5.45a4.59,4.59,0,0,1-.48,2.57,4.1,4.1,0,0,1-6.27,0,4.67,4.67,0,0,1-.48-2.57v-5.45h1.63v5.42a3.5,3.5,0,0,0,.21,1.58,2.13,2.13,0,0,0,3.56,0Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1" d="M694.37,454.86v7.81h4v1.5h-5.66v-9.31Z" transform="translate(-604.52 -304.34)"/>
    <path class="cls-1" d="M705.56,454.86h7.08v1.46h-2.71v7.85h-1.64v-7.85h-2.73Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1" d="M723.29,464.17h-1.64v-9.31h1.64Z" transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M738.26,460.19l.71,1.13c0-.3,0-2,0-3.34v-3.12h1.63v9.31H739l-3.67-5.6c-.29-.45-.58-1-.59-1,0,.44,0,1.89,0,3.45v3.11h-1.63v-9.31h1.54Z"
          transform="translate(-604.52 -304.34)"/>
    <path class="cls-1"
          d="M754.42,454.69a4.13,4.13,0,0,1,3.71,2.14l-1.44.89a2.39,2.39,0,0,0-2.27-1.55c-1.65,0-2.66,1.32-2.66,3.35s1,3.35,2.66,3.35,2.22-.89,2.3-2.3h-2.79v-1.49h4.32v5.09h-1.56v-.71a3.73,3.73,0,0,1-2.45.88c-2.7,0-4.29-2-4.29-4.82S751.69,454.69,754.42,454.69Z"
          transform="translate(-604.52 -304.34)"/>
</svg>

