@import '../../../shared/scss/colours';
@import '../../../shared/scss/common-classes';
@import '../../../shared/scss/mixins';

:host {
    background: linear-gradient(transparent 34.16vw,  $white 34.16vw 100%);
    margin-top: 4.17vw;
}

.outer-wrap {
    background: no-repeat url('/assets/fill/contact-host-01.svg');
    background: linear-gradient(transparent 0 17.08vw, $white 17.08vw 100%);
    display: grid;
    grid-template-columns: auto 7.3vw;
    padding-left: 8.54vw;

    .inner-wrap {
        background: linear-gradient(transparent 0 24.2237%,  $light-grey 24.2237% 68.6833%, transparent 68.6833% 100%);
        font-size: 1.25vw;
        line-height: 2.4vw;
        padding-bottom: 8.54vw;
        padding-left: 4.27vw;

        h2 {
            font-size: 2.5vw;
        }

        .regular {
            font-weight: 400;
        }

        .black-box {
            background-color: $web-black;
            box-sizing: border-box;
            color: $white;
            display: grid;
            grid-template-columns: 25.625vw 1fr 1fr;
            height: 17.08vw;
            padding: 4.27vw 8.54vw 4.27vw 4.27vw;
        }

        .blue-box {
            background-color: $blue;
            box-sizing: border-box;
            padding: 4.27vw 17.08vw 4.27vw 4.27vw;
            color: $white;
            height: 32.452vw;

            .web-black-font {
                color: $web-black;
                display: block;
                margin-top: 2.4vw;
            }

            .address-map {
                display: grid;
                grid-template-columns: 1fr 1fr;
            }
        }

        .inter-box-text {
            align-content: center;
            box-sizing: border-box;
            color: $dark-grey;
            display: grid;
            font-size: 1.666vw;
            height: 12.8125vw;
            line-height: 2.92vw;
            padding: 0 25.625vw 0 4.27vw;
        }

        .green-box {
            background-color: $green;
            box-sizing: border-box;
            height: 51.8953125vw;
            padding: 2.8125vw 4.27vw 2.8125vw 2.135vw;

            form {
                display: grid;
                grid-row-gap: 2.135vw;
                grid-template-rows: 1fr 1fr 1fr 5fr;
                height: 40.573vw;

                div {
                    background-color: $white;
                    display: grid;
                    grid-column-gap: 2.135vw;
                    grid-template-columns: min-content auto;

                    label {
                        color: $blue;
                        font-weight: 600;
                        white-space: nowrap;
                    }

                    input, textarea {
                        border: none;
                        color: $web-black;
                        font-family: 'Open Sans', sans-serif;
                        font-weight: 300;
                        font-size: 1.25vw;
                        padding: 0 0.52vw;
                    }

                    textarea {
                        padding-top: 0.3vw;
                        resize: none;
                    }

                    input:-internal-autofill-selected, input:-webkit-autofill {
                        color: $web-black;
                    }
                }

                .input-line {
                    align-content: center;
                    padding: 0 2.135vw;
                }

                .message-box {
                    padding: 1.135vw 2.135vw;
                }
            }

            .form-footer {
                align-content: center;
                display: grid;
                grid-column-gap: 2.135vw;
                grid-template-columns: auto min-content;
                height: 4.27vw;
                margin-top: 2.135vw;

                .error-message, .success-message {
                    align-content: center;
                    color: $white;
                    display: grid;
                    height: 4.27vw;
                    padding: 0 2.135vw;
                }

                .error-message {
                    background-color: #CC3E3E;
                }

                .success-message {
                    background-color: $blue;
                }

                app-generic-button {
                    grid-column: 2;
                }
            }
        }
    }

    .arrow-wrap {
        position: relative;
    }
}

@include mobile {
    :host {
        margin-top: 15.625vw;
    }

    .outer-wrap {
        grid-template-columns: auto;
        padding-left: 0;

        .inner-wrap {
            background: url('/assets/fill/contact-inner-mobile-01.svg');
            background: linear-gradient(transparent 0 9.0625vw, $white 9.0625vw 68.4375vw, $light-grey 68.4375vw 213.75vw, transparent 213.75vw 100%);
            font-size: 3.75vw;
            font-weight: 400;
            line-height: 6.5625vw;
            padding: 0;

            h2 {
                font-size: 4.0625vw;
                font-weight: 600;
                text-transform: uppercase;
            }

            .regular {
                font-weight: 600;
            }

            .black-box {
                grid-row-gap: 6.5625vw;
                grid-template-columns: auto;
                height: unset;
                margin: 0 4.6875vw;
                padding: 4.6875vw 9.0625vw 11.25vw;
            }

            .blue-box {
                height: min-content;
                margin: 0 4.6875vw;
                padding: 4.6875vw 9.0625vw 11.25vw;

                .web-black-font {
                    margin-top: 0;
                    padding-bottom: 6.5625vw;
                }

                .address-map {
                    grid-template-columns: auto;
                    margin-top: 0;

                    div:nth-child(even), a:nth-child(even) {
                        color: $web-black;
                        padding-bottom: 6.5625vw;
                    }
                }
            }

            .inter-box-text {
                background-color: $white;
                font-size: 5.3125vw;
                height: unset;
                line-height: 7.8125vw;
                margin-top: 4.6875vw;
                padding: 9.375vw 4.6875vw;
            }

            .green-box {
                height: unset;
                padding: 4.6875vw;

                form {
                    grid-row-gap: 4.6875vw;
                    grid-template-rows: 12.8125vw 12.8125vw 12.8125vw 64.0625vw;
                    height: unset;

                    div {
                        input, textarea {
                            font-size: 3.75vw;
                        }
                    }
                }

                .form-footer {
                    height: unset;
                    margin-top: 4.6875vw;
                    min-height: 15.8625vw;

                    .error-message, .success-message {
                        height: unset;
                        padding: 2.34375vw;
                    }
                }
            }
        }
    }
}
