<app-subpage-top logo="contact.svg">
    <div>
        <span class="top-number">⁴ ―</span><span class="top-title"> Kapcsolat</span>
    </div>
</app-subpage-top>
<div class="outer-wrap">
    <div class="inner-wrap">
        <div class="black-box">
            <h2>Elérhetőség</h2>
            <address>
                <span class="regular">― Telefon</span><br/>
                <a href="tel:+36 20 438 1358">+36 20 438 1358</a><br/>
                <a href="tel:+36 20 438 1358">+36 20 495 0082</a>
            </address>
            <address>
                <span class="regular">― E-mail</span><br/>
                <a href="mailto:info@uniconkft.hu">info@uniconkft.hu</a>
            </address>
        </div>
        <div class="blue-box">
            <h2>Cégadatok</h2>
            <span class="regular web-black-font">― UniCon Consulting Kft.</span>
            <div class="address-map">
                <div>Cégjegyzékszám:</div>
                <div>01-09-293534</div>
                <div>Adószám:</div>
                <div>14111684-2-42</div>

                <div>Székhely:</div>
                <a href="https://www.google.com/maps/place/Budapest,+Hangulat+u.+18,+1165/" target="_blank">
                    1165 Budapest, Hangulat utca 18.
                </a>
                <div>Iroda:</div>
                <a href="https://www.google.com/maps/place/Budapest,+Szállító+u.+6,+1211/" target="_blank">
                    1211 Budapest, Szállító utca 6.
                </a>
                <div>Bankszámlaszám:</div>
                <div>Kereskedelmi és Hitelbank Zrt.<br/>10404072-00021394-00000007</div>
            </div>
        </div>
        <div class="inter-box-text prlx prlx-1">
            ― Kérjük, töltse ki az űrlapot és mi 24 órán belül felvesszük Önnel a kapcsolatot!
        </div>
        <div class="green-box">
            <form #messageForm>
                <div class="input-line">
                    <label for="name">Név<span class="green-font">*</span>:</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="input-line">
                    <label for="email">E-mail cím<span class="green-font">*</span>:</label>
                    <input type="email" id="email" name="email" required>
                </div>
                <div class="input-line">
                    <label for="tel">Telefonszám:</label>
                    <input type="tel" id="tel" name="tel">
                </div>
                <div class="message-box">
                    <label for="message">Üzenet<span class="green-font">*</span>:</label>
                    <textarea id="message" name="message" required></textarea>
                </div>
            </form>
            <div class="form-footer">
                <div *ngIf="!messageForm.checkValidity() && invalidAttempt" class="error-message">Kérjük töltse ki a *-gal jelölt mezőket.</div>
                <div *ngIf="successMessage" class="success-message">Üzenetét elküldtük!</div>
                <app-generic-button colourClass="blue-button" (click)="send(messageForm)">Elküld ></app-generic-button>
            </div>
        </div>
    </div>
    <div class="arrow-wrap">
        <app-up-arrow></app-up-arrow>
    </div>
</div>
