@import '../../../shared/scss/colours';
@import '../../../shared/scss/mixins';

:host > :nth-child(2) {
    margin-top: 8.70625vw;
}

.message {
    background-color: $light-grey;
    display: grid;
    font-size: 1.04vw;
    grid-row-gap: 1.40625vw;
    margin: 1.40625vw auto;
    padding: 1.40625vw;
    width: 50vw;
}

a:hover {
    color: $blue;
}

.text {
    font-style: italic;
    line-height: normal;
    word-break: break-word;
}

app-generic-button {
    justify-self: right;
}

@include mobile {
    :host > :nth-child(2) {
        margin-top: 27.6vw;
    }

    .message {
        font-size: 3.75vw;
        grid-row-gap: 4.6875vw;
        margin: 4.6875vw;
        padding: 4.6875vw;
        width: unset;
    }
}
