<app-admin-menu></app-admin-menu>
<div *ngFor="let message of messages" class="message">
    <div>Name: {{ message.name }}</div>
    <div>Date: {{ parseDate(message.date) }}</div>
    <a [href]="'mailto:' + message.email">Email: {{ message.email }}</a>
    <a [href]="'tel:' + message.phone">Phone: {{ message.phone }}</a>
    <div class="text">{{ message.text }}</div>
    <app-generic-button colourClass="red-button" (click)="delete(message)">Delete</app-generic-button>
</div>
